.dr-hero-secondary {

  &__inner {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    border-radius: 12px;
    overflow: hidden;
    background-color: #FFFFFF;

    @media(max-width: 991.98px) {
      display: flex;
      flex-direction: column;
      gap: 18px;
      background-color: transparent;
    }
  }

  &__info {
    padding: 40px 24px 40px 40px;
    color: #0B3847;

    @media(max-width: 991.98px) {
      display: contents;
    }
  }

  &__top {
    margin-bottom: 32px;

    @media(max-width: 991.98px) {
      margin-bottom: 0;
      padding: 16px 12px 12px;
      border-radius: 12px;
      background-color: #FFFFFF;
    }
  }

  &__title {
    font-size: 40px;
    line-height: 1.2;
    font-weight: 800;
    margin-bottom: 12px;

    @media(max-width: 991.98px) {
      font-size: 32px;
      margin-bottom: 8px;
    }

    @media(max-width: 767.98px) {
      font-size: 22px;
    }
  }

  &__desc {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 24px;

    @media(max-width: 991.98px) {
      font-size: 16px;
      margin-bottom: 20px;
    }
  }

  &__action {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    .button {
      width: 100%;
    }
  }

  &__tip {
    color: #8E8E8E;
    font-weight: 700;

    @media(max-width: 991.98px) {
      font-size: 14px;
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media(max-width: 991.98px) {
      border-radius: 12px;
      overflow: hidden;
    }
  }

  &__details {
    width: 100%;

    @media(max-width: 991.98px) {
      order: 10;
      padding: 20px 12px;
      background-color: #FFFFFF;
      border-radius: 12px;
    }

    &-title {
      font-size: 16px;
      line-height: 1.3;
      font-weight: 800;
      margin-bottom: 16px;
    }

    &-list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 12px;

      @media(max-width: 991.98px) {
        gap: 8px;
      }
    }

    &-item {
      position: relative;
      padding-left: 24px;

      @media(max-width: 991.98px) {
        padding-left: 28px;
        font-size: 12px;
      }

      &::before {
        content: '';
        position: absolute;
        top: 4px;
        left: 0;
        width: 18px;
        height: 18px;
        background: url('../img/check.svg') center center / 18px no-repeat;

        @media(max-width: 991.98px) {
          width: 16px;
          height: 16px;
          background-size: 16px;
        }
      }
    }
  }
}