.dr-content__btn {
  display: inline-block;
  align-self: flex-start;
  margin-top: 24px;
}
.dr-content__result {
  display: block;
  width: 37%;
  height: auto;
  flex-shrink: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  align-self: stretch;
  gap: 8px;
  background-color: #C2D0D5;
}
@media (max-width: 767px) {
  .dr-content__result {
    width: 100%;
    border-radius: 12px;
    background-color: #FFFFFF;
    overflow: hidden;
  }
}
.dr-content__result img {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.dr-infoblock__inner {
  padding: 40px 60px;
  background-color: #405F64;
  color: #FFFFFF;
  border-radius: 12px;
}
@media (max-width: 767px) {
  .dr-infoblock__inner {
    padding: 20px 12px;
  }
}
.dr-infoblock__title {
  margin-bottom: 32px;
}
@media (max-width: 767px) {
  .dr-infoblock__title {
    margin-bottom: 16px;
  }
}
.dr-infoblock__desc p:not(:last-child) {
  margin-bottom: 16px;
}
.dr-infoblock__desc a {
  color: #FCA311;
}
@media (any-hover: hover) {
  .dr-infoblock__desc a:hover {
    text-decoration: underline;
  }
}
.dr-infoblock__desc ul {
  list-style-type: disc;
  margin-left: 20px;
}

.dr-banner__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  background-color: #0B3847;
  color: #FFFFFF;
  border-radius: 12px;
  padding: 40px 60px;
}
@media (max-width: 767px) {
  .dr-banner__inner {
    gap: 16px;
    padding: 20px 12px;
  }
}
.dr-banner__title {
  text-align: center;
}
.dr-banner__desc {
  text-align: center;
}
.dr-banner__btn {
  display: inline-block;
}
@media (max-width: 767px) {
  .dr-banner__btn {
    width: 100%;
  }
}

.dr-contacts__inner {
  display: flex;
  align-items: stretch;
  border-radius: 12px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .dr-contacts__inner {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
}
.dr-contacts__info {
  width: 100%;
  background-color: #405F64;
  padding: 40px 60px;
}
@media (max-width: 1024px) {
  .dr-contacts__info {
    padding: 24px;
  }
}
@media (max-width: 767px) {
  .dr-contacts__info {
    padding: 20px 12px;
    border-radius: 12px;
  }
}
.dr-contacts__title {
  color: #FFFFFF;
  margin-bottom: 32px;
}
@media (max-width: 1024px) {
  .dr-contacts__title {
    margin-bottom: 24px;
  }
}
@media (max-width: 767px) {
  .dr-contacts__title {
    margin-bottom: 12px;
  }
}
.dr-contacts__desc {
  font-size: 16px;
  line-height: 1.3;
  color: #FFFFFF;
}
.dr-contacts__btn {
  display: inline-block;
  align-self: flex-start;
  margin-top: 24px;
}
.dr-contacts__img {
  display: block;
  width: 37%;
  height: auto;
  flex-shrink: 0;
}
@media (max-width: 767px) {
  .dr-contacts__img {
    width: 100%;
    height: 220px;
    border-radius: 12px;
    overflow: hidden;
  }
}
.dr-contacts__img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.dr-hero__desc-mob {
  display: none;
}
@media (max-width: 767px) {
  .dr-hero__desc-mob {
    display: block;
    margin-top: 16px;
  }
  .dr-hero__desc-mob p {
    font-size: 16px;
    line-height: 130%;
  }
  .dr-hero__desc-mob p:not(:last-child) {
    margin-bottom: 16px;
  }
}/*# sourceMappingURL=dr.css.map */