.dr-content {

  &__btn {
    display: inline-block;
    align-self: flex-start;
    margin-top: 24px;
  }

  &__result {
    display: block;
    width: 37%;
    height: auto;
    flex-shrink: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    align-self: stretch;
    gap: 8px;
    background-color: #C2D0D5;

    @media(max-width: 767px) {
      width: 100%;
      border-radius: 12px;
      background-color: #FFFFFF;
      overflow: hidden;
    }


    img {
      display: block;
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
}

.dr-infoblock {

  &__inner {
    padding: 40px 60px;
    background-color: #405F64;
    color: #FFFFFF;
    border-radius: 12px;
  }

  &__title {
    margin-bottom: 32px;

    @media(max-width: 767px) {
      margin-bottom: 16px;
    }
  }

  &__desc {

    p {
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }

    a {
      color: #FCA311;

      @media(any-hover:hover) {
        &:hover {
          text-decoration: underline;
        }
      }
    }

    ul {
      list-style-type: disc;
      margin-left: 20px;
    }
  }
}

.dr-banner {

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    background-color: #0B3847;
    color: #FFFFFF;
    border-radius: 12px;
    padding: 40px 60px;

    @media(max-width: 767px) {
      gap: 16px;
    }
  }

  &__title {
    text-align: center;
  }

  &__desc {
    text-align: center;
  }

  &__btn {
    display: inline-block;

    @media(max-width: 767px) {
      width: 100%;
    }
  }
}

.dr-contacts {

  &__inner {
    display: flex;
    align-items: stretch;
    border-radius: 12px;
    overflow: hidden;

    @media(max-width: 767px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
    }
  }

  &__info {
    width: 100%;
    background-color: #405F64;
    padding: 40px 60px;

    @media(max-width: 1024px) {
      padding: 24px;
    }

    @media(max-width: 767px) {
      padding: 20px 12px;
      border-radius: 12px;
    }
  }

  &__title {
    color: #FFFFFF;
    margin-bottom: 32px;

    @media(max-width: 1024px) {
      margin-bottom: 24px;
    }

    @media(max-width: 767px) {
      margin-bottom: 12px;
    }
  }

  &__desc {
    font-size: 16px;
    line-height: 1.3;
    color: #FFFFFF;
  }

  &__btn {
    display: inline-block;
    align-self: flex-start;
    margin-top: 24px;
  }

  &__img {
    display: block;
    width: 37%;
    height: auto;
    flex-shrink: 0;

    @media(max-width: 767px) {
      width: 100%;
      border-radius: 12px;
      overflow: hidden;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}