.price-table {
  width: 100%;
  border-collapse: collapse;

  @media (max-width: 767px) {
    display: none;
  }
}

.price-table th,
.price-table td {
  padding: 12px;
  text-align: left;
}

.price-table th {
  background-color: #ffffff;
  font-weight: bold;
}

.price-table tbody tr {
  transition: background-color 0.3s ease;
}

/* .price-table tbody tr:hover {
  background-color: #f9f9f9;
} */

/* Стили для строки-аккордеона */
.accordion-row {
  cursor: pointer;
  background-color: #ffffff;
}

.accordion-row:hover {
  background-color: #ffffff;
}

.accordion-row .accordion-icon {
  width: 24px;
  height: 24px;
  background: url("../img/arrow-drop-down.svg") center center / contain
    no-repeat;
  display: inline-block;
  margin-right: 8px;
  transition: transform 0.3s ease;
  transform: rotate(-90deg);
}

.accordion-row.expanded .accordion-icon {
  transform: rotate(0deg);
}

/* Скрытые строки */
.accordion-content {
  display: none;
}

.accordion-content.show {
  display: table-row;
  opacity: 1;
}

/* Столбцы с заданной шириной */
.price-table th:nth-child(1),
.price-table td:nth-child(1) {
  width: 20%;
}

.price-table th:nth-child(2),
.price-table td:nth-child(2) {
  width: 65%;
  padding-right: 0;
}

.price-table th:nth-child(3),
.price-table td:nth-child(3) {
  width: 15%;
  text-align: right;
}

.table-title {
  display: flex;
  align-items: center;
  gap: 12px;
}

.table-title-text {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  flex-shrink: 0;
}

.table-title-line {
  width: 100%;
  height: 1px;
  align-self: flex-end;
  background-color: currentColor;
  margin-bottom: 4px;
}

.price-table-mob {
  display: none;

  @media (max-width: 767px) {
    display: block;
  }
}

.price-table-mob__item {
  display: block;
  width: 100%;
  font-size: 16px;
  line-height: 1.3;
}

.price-table-mob__item--dropdown .price-table-mob__item-row .price-table-mob__item-info {
  position: relative;
  padding-left: 24px;
}

.price-table-mob__item--dropdown > .price-table-mob__item-row .price-table-mob__item-info::before {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background: url('../img/arrow-drop-down.svg') center center / contain no-repeat;
  transform: rotate(-90deg);
  transition: transform 0.3s ease;
}

.price-table-mob__item--dropdown > .price-table-mob__item-row.expanded .price-table-mob__item-info::before {
  transform: rotate(0deg);
}

.price-table-mob__item:not(:last-child) {
  margin-bottom: 12px;
}

.price-table-mob__item-row {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 16px;
  padding-bottom: 8px;
  border-bottom: 1px solid #8e8e8e;
  margin-top: 8px;
}

.price-table-mob__item-price {
  flex-shrink: 0;
  text-align: right;
  font-weight: 600;
}

.price-table-mob__item-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.price-table-mob__item-name {
  font-weight: 600;
}

.price-table-mob__item-dropdown {
  display: none;
}

.price-table-mob__item-dropdown .price-table-mob__item-name,
.price-table-mob__item-dropdown .price-table-mob__item-price {
  font-weight: 400;
}

.price-table-mob__item-dropdown.show {
  display: block;
}
